body
  padding-top: 50px

.deck-container
  font-size: 16px
  font-family: "Helvetica Neue", sans-serif
  font-size: 1.75em
  line-height: 1.25

.deck-container > .slide
  padding: 0 48px

.slide
  background-color: white
  -moz-box-sizing: border-box
  box-sizing: border-box
  width: 100%
  
ul.no-marker 
  list-style-type: none
  padding: 0
  margin: 0

.eth-val
  padding-bottom: 1em
  text-align: left

.center
  display: block
  margin-left: auto
  margin-right: auto
  padding-top: 10px 

#coop_marque
  width: 350px

img
  margin-top: 20px
  height: auto
  max-width: 100%

