ul
  padding: 0
  list-style-type: none

.principle-h
  margin-top: 60px
  margin-bottom: 60px
  font-size: 1.0em
  font-weight: bold
  font-family: "Muli"

.principle-p
  //font-size: 0.8em
  text-align: justify
  font-weight: normal
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  color: #333

@media screen and (max-width: 640px)
  .principle-h
    //font-size: 1.5em
