extends partials/layout

block content
  .container.content-body
    .row
      .col-sm-10.col-sm-offset-1.col-xs-12
        h1.page-header.red About Us
    .row
      .col-xs-10.col-xs-offset-1
        p ethicalBay.coop is an open invitation to the ethical and cooperative communities from the six founding members, to build a global, online marketplace where people can simply and easily “buy the good” - ethical products from ethical sellers..center-text
        p As a workers cooperative we are guided by the seven cooperative principles and the central ethos that each member  can participate equally  in decision making, the work and the benefits.  We have adopted a model of consensus decision-making for the big decisions.
        p We are looking for people with talent and time to join our Development Team.
        p If you are a coder/developer, web-designer, videographer, animator, copywriter, social media marketer, fund raiser and you have the time to commit to the project and are a glutton for deferred gratification we’d like you to join ethicalBay.
        p The invitation is also open to ethical and cooperative organisations who wish to become strategic partners and investors.
        p ethicalBay is a company limited by guarantee with cooperative rules, Company No. 09259314.
        address.center-text
          | ethicalBay Ltd
          br
          | Central Hall
          br
          | Alice Street
          br
          | Keighley
          br
          | BD21 3JD
        p.center-text
          a(href="mailto:welcome@ethicalbay.coop?Subject=Hello" target="_top")
            | welcome@ethicalbay.coop
    .row
      .col-xs-10.col-xs-offset-1
        .col-lg-4.col-sm-6.col-xs-12
          .rounded-24.hat-content-frame.red_bg
            .rounded-20.member-content.white_bg
              img.member-photo(src='/images/bob.jpg' alt='Bob Thorp')
              h3 Founder - Member

        .col-lg-4.col-sm-6.col-xs-12
          .rounded-24.hat-content-frame.red_bg
            .rounded-20.member-content.white_bg
              img.member-photo(src='/images/linda.jpg' alt='Linda Gomila')
              h3 Founder - Member

        .clearfix.visible-sm-block
        .col-lg-4.col-sm-6.col-xs-12
          .rounded-24.hat-content-frame.red_bg
            .rounded-20.member-content.white_bg
              img.member-photo(src='/images/richard.jpg' alt='Richard Dillon')
              h3 Founder - Member

        .col-lg-4.col-sm-6.col-xs-12
          .rounded-24.hat-content-frame.red_bg
            .rounded-20.member-content.white_bg
              img.member-photo(src='/images/jack.jpg' alt='Jack Thorp')
              h3 Founder - Member
        
        .clearfix.visible-sm-block

append stylesheets
  link(rel='stylesheet', href='/stylesheets/about.css')
