extends partials/layout

block content
  .container.content-body
    .row
      .col-sm-10.col-sm-offset-1.col-xs-12
        h1.page-header.red About Us
    .row
      .col-sm-5.col-sm-offset-1.col-xs-10.col-xs-offset-1
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae felis risus. Fusce tincidunt tellus risus. Integer mollis, libero sit amet tristique mattis, ex tortor euismod nisl, a vulputate lacus eros quis ante. Phasellus cursus quam et erat lobortis efficitur id a dui. Quisque quam ante, consectetur eu venenatis sed, ultricies in dui. Integer ut feugiat erat, a mollis urna. Fusce auctor arcu in aliquam sodales. Proin elementum eu sapien eget suscipit. 
      .col-sm-5.col-sm-pull-1.col-xs-10.col-xs-offset-1
        p Aliquam suscipit, mi non convallis vestibulum, lorem nunc cursus ante, ut varius nibh ex sit amet erat. Pellentesque ultrices turpis nec posuere commodo. Morbi tortor quam, tincidunt ac libero eu, tristique varius orci. Aenean rutrum justo leo, eu fringilla odio venenatis sollicitudin. Pellentesque ultricies tempus justo, eget tempus mi consequat eget. Fusce sed dapibus eros. Curabitur at nisi libero. Aliquam ante tortor, blandit eu nisl ornare, placerat sagittis turpis. 
    .row
      .col-xs-10.col-xs-offset-1
        .col-lg-4.col-sm-6.col-xs-12
          .rounded-24.hat-content-frame.red_bg
            .rounded-20.member-content.white_bg
              img.member-photo(src='/images/bob.jpg' alt='Bob Thorp')
              p wEcsdcCdkfnekHEKLUFHDkes fkjfh weklfh rhFB Srjhcb wrjhcb sdljHCB ARJLHSCB ADFSJHLVB FSHJCB SDJHLCB SDJLHCB SDJLHCVB sdjchlb sdjlhb sdjchb sdjhvb ajhfb jvhbr 

        .col-lg-4.col-sm-6.col-xs-12
          .rounded-24.hat-content-frame.red_bg
            .rounded-20.member-content.white_bg
              img.member-photo(src='/images/linda.jpg' alt='Linda Gomila')
              p wEcsdcCdkfnekHEKLUFHDkes fkjfh weklfh rhFB Srjhcb wrjhcb sdljHCB ARJLHSCB ADFSJHLVB FSHJCB SDJHLCB SDJLHCB SDJLHCVB sdjchlb sdjlhb sdjchb sdjhvb ajhfb jvhbr 

        .col-lg-4.col-sm-6.col-xs-12
          .rounded-24.hat-content-frame.red_bg
            .rounded-20.member-content.white_bg
              img.member-photo(src='/images/richard.jpg' alt='Richard Dillon')
              p wEcsdcCdkfnekHEKLUFHDkes fkjfh weklfh rhFB Srjhcb wrjhcb sdljHCB ARJLHSCB ADFSJHLVB FSHJCB SDJHLCB SDJLHCB SDJLHCVB sdjchlb sdjlhb sdjchb sdjhvb ajhfb jvhbr 
      
        .col-lg-4.col-sm-6.col-xs-12
          .rounded-24.red_bg.content-frame

        .col-lg-4.col-sm-6.col-xs-12
          .rounded-24.red_bg.content-frame    

        .col-lg-4.col-sm-6.col-xs-12
          .rounded-24.red_bg.content-frame    


block stylesheets
  link(rel='stylesheet', href='/stylesheets/about.css')
