extends partials/slides

block slide1
  .row
    .col-xs-12
      h1 
        span.lblue e
        span.lgreen t
        span.red h
        span.blue i
        span.green c
        span.orange a
        span.purple l
        span.lblue Bay
  .row
    .col-xs-12
      h3 Buy the Good
  .row
    .col-xs-12
      img.center(src="/images/Mandala_2_25.png" alt="ethicalbay mandala")

block slide2
  .row
    .col-xs-12
      h2.lblue  About us
  .row
    .col-xs-12.col-md-8.col-md-offset-2
      p We are a cooperative enterprise dedicated to building an ethical online market place (ethicalBay) that is owned and controlled by its producers and consumers.

block slide3
  .row
    .col-xs-12
      h2.lgreen Be the Good:Buy the Good
  .row
    .col-xs-12.col-md-8.col-md-offset-2
      p We want to make it easy and simple for producers and consumers to sell and “buy the good” : ethical products.

block slide4
  .row
    .col-xs-12
      h2.red Our Vision
  .row
    .col-xs-12.col-md-8.col-md-offset-2
      ul.no-marker
        li
          p A global community of ethical producers and consumers connected by a cooperatively owned online marketplace.
        li.slide
          p We’re calling it ethicalBay: the  place where people meet to exchange not only value but also Values.
        li.slide
          p Imagine if Amazon, eBay or Alibaba were actually owned by the people who trade through them and those people create and trade goods and services using resources, processes and supply chains that are sustainable and do no harm to people or planet. 
        li.slide
          p How good would that be?

block slide5
  .row
    .col-xs-12
      h2.purple We The Workers
    .row
      .col-xs-12.col-md-8.col-md-offset-2
        ul.no-marker
          li
            p The assets of the business are owned and controlled by the people who do the work, who create and equitably share the value. 
          li.slide
            p Workers cooperatives, partnerships, sole traders, co-owned businesses.

block slide6
  .row
    .col-xs-12
      h2.green Do No Harm
  .row
    .col-xs-12.col-md-8.col-md-offset-2
      p The provisioning, creation and supply processes should aim to minimise harm to flora and fauna, people and planet. 

block slide7
  .row
    .col-xs-12
      h2.orange Sustainable
  .row
    .col-xs-12.col-md-8.col-md-offset-2
      ul.no-marker
        li
          p  At the cosmic level nothing lasts forever, in time everything decays but whilst the sun is shining we can adapt and develop the creation and supply processes to sustain all life - including Gaia herself.

block slide8
  .row
    .col-xs-12
      h2.blue Participate!
  .row
    .col-xs-4.col-md-2.col-md-offset-2
      p.eth-val  
        span.orange Keep Posted:
    .col-xs-8.col-md-6
      p 
        a(href="/pages/sign-up_form.html").green Join 
        | our mailing list to keep up to date with progress and developments.
  .row
    .col-xs-4.col-md-2.col-md-offset-2
      p.ethval
        span.orange Come and co-create:
    .col-xs-8.col-md-6
      p.eth-val email: welcome@ethicalbay.coop 
  .row
    .col-xs-10.col-xs-offset-1
      img#coop_marque.center(src="/images/Coop_marque/jpg/coop_blue.jpg" alt="cooperative marque")
 
