extends partials/layout

block content
  .container.content-body
    .row
      .col-sm-10.col-sm-offset-1.col-xs-12
        h1.page-header.orange Next Generation
    .row
      .col-xs-12
        .row
          .col-md-3.col-sm-4
            .rounded-24.bracket-content-frame.orange_bg
              .rounded-24.member-content.white_bg
                a(href='http://http://www.shrubcoop.org/' target="_blank")
                  img.member-photo(src='/images/shrub_coop.jpg' alt='Bob Thorp' href='')
                p Shrub Co-op. Swap and Reuse Hub Edinburgh - the student-led social enterprise: reducing waste and educating Edinburgh. 
          .col-md-3.col-sm-4
            .rounded-24.bracket-content-frame.orange_bg
              .rounded-24.member-content.white_bg
                a(href='http://altgen.org.uk/' target="_blank") 
                  img.member-photo(src='/images/altgen.gif' alt='AltGen') 
                p Altgen supports 18-29 year olds to set up WORKERS CO-OPS as a collaborative and empowering solution to youth unemployment. 
          
          .col-md-3.col-sm-4
            .rounded-24.bracket-content-frame.orange_bg
              .rounded-24.member-content.white_bg
                a(href='http://www.cicopa.coop/?lang=en' target="_blank")
                  img.member-photo(src='/images/cicopa.jpg' alt='CICOPA')
                p The International Organisation of Industrial, Artisanal and Service Producers’ Cooperatives, or CICOPA.

          .col-md-3.col-sm-4
            .rounded-24.bracket-content-frame.orange_bg
              .rounded-24.member-content.white_bg
                a(href='http://www.marketplaceindia.com/' target="_blank")
                  img.member-photo(src='/images/market_india.gif' alt='Bob Thorp')
                p wEcsdcCdkfnekHEKLUFHDkes fkjfh weklfh rhFB Srjhcb wrjhcb sdljHCB ARJLHSCB ADFSJHLVB FSHJCB SDJHLCB SDJLHCB SDJLHCVB sdjchlb sdjlhb sdjchb sdjhvb ajhfb jvhbr 
 
block stylesheets
  link(rel='stylesheet', href='/stylesheets/about.css')
