extends partials/layout

block content
  .container.content-body
    .row
      .col-sm-10.col-sm-offset-1.col-xs-12
        h1.page-header.orange Next Generation
    .row
      .col-xs-12
        #wrapper
          #list
            .item
              .rounded-24.bracket-content-frame.orange_bg.link
                .rounded-24.frame-content.white_bg
                  a(href='http://www.shrubcoop.org/' target="_blank")
                    img.frame-photo(src='/images/shrub.jpg' alt='Shrub Cooperative' href='')
                  p.center-text Shrub Co-op. Swap and Reuse Hub Edinburgh - the student-led social enterprise: reducing waste and educating Edinburgh. 
            .item           
              .rounded-24.bracket-content-frame.orange_bg.link
                .rounded-24.frame-content.white_bg
                  a(href='http://www.cicopa.coop/?lang=en' target="_blank")
                    img.frame-photo(src='/images/cicopa.jpg' alt='CICOPA')
                  p.center-text The International Organisation of Industrial, Artisanal and Service Producers’ Cooperatives, or CICOPA.
            
            .item
              .rounded-24.bracket-content-frame.orange_bg.link
                .rounded-24.frame-content.white_bg
                  a(href='https://fair.coop/' target="_blank")
                    img.frame-photo(src='/images/fair_coop.png' alt='Fair Coop')
                  p.center-text Fair.coop is an open global cooperative, self-organized via the Internet and remaining outside nation-state control. Its aim is to make the transition to a new world by reducing the economic and social inequalities among human beings as much as possible, and at the same time gradually contribute to a new global wealth, accessible to all humankind as commons.

            .item
              .rounded-24.bracket-content-frame.orange_bg.link
                .rounded-24.frame-content.white_bg
                  a(href='http://altgen.org.uk/' target="_blank") 
                    img.frame-photo(src='/images/altgen.gif' alt='AltGen') 
                  p.center-text Altgen supports 18-29 year olds to set up WORKERS CO-OPS as a collaborative and empowering solution to youth unemployment. 
       
            .item 
              .rounded-24.bracket-content-frame.orange_bg.link
                .rounded-24.frame-content.white_bg
                  a(href='http://www.mondragon-corporation.com/eng/' target="_blank") 
                    img.frame-photo(src='/images/mondragon.jpg' alt='Mondragon') 
                  p.center-text MONDRAGON Corporation is the embodiment of the co-operative movement that began in 1956, the year that witnessed the creation of the first industrial cooperative in Mondragón in the province of Gipuzkoa; its business philosophy is contained in its Corporate Values: Cooperation, Participation, Social Responsibility, Innovation. 
      
            .item
              .rounded-24.bracket-content-frame.orange_bg.link
                .rounded-24.frame-content.white_bg
                  a(href='http://www.fairmondo.com' target="_blank")
                    img.frame-photo(src='/images/fairmondo.jpg' alt='CICOPA')
                  p.center-text Fairmondo is the (ad-)venture of setting up a global, decentralised online marketplace owned by its local users. It aims to grow into a competitive alternative to the established global e-commerce companies. 

            .item
              .rounded-24.bracket-content-frame.orange_bg.link
                .rounded-24.frame-content.white_bg
                  a(href='http://www.fairphone.com/' target='_blank')
                    img.frame-photo(src='/images/fairphone.png' alt='FairPhone')
                  p.center-text Fairphone is a social enterprise working to create a fairer economy and change how things are made. We open up supply chains, solve problems and use transparency to start debate about what’s truly fair.
       
            .item
              .rounded-24.bracket-content-frame.orange_bg.link
                .rounded-24.frame-content.white_bg
                  a(href='http://www.marketplaceindia.com/' target="_blank")
                    img.frame-photo(src='/images/market_india.gif' alt='Handwork of India')
                  p.center-text Handwork of India is an innovative fair trade, not-for-profit organization which combines the experience of running a business with a variety of support programs designed to effect real, meaningful, and lasting change in the lives of low-income women in India. 
            .item 
              .rounded-24.bracket-content-frame.orange_bg.link
                .rounded-24.frame-content.white_bg
                  a(href='http://fair-coin.org/' target="_blank")
                    img.frame-photo(src='/images/FairCoin.png' alt='Faircoin')
                  p.center-text Faircoin is a crypto currency like Bitcoin. It is the first project where the coins are not bought but rather distributed equally between everyone who wants them regardless of their current financial status, and promotes equality. 
             
append header_scripts
  script(src='/js/isotope.pkgd.min.js')
  script(src='/js/links.js')
