extends partials/layout

block content
  .container.content-body
    .row
      .col-sm-10.col-sm-offset-1.col-xs-12
        h1.page-header.green Co-operative Principles
        .rounded-48.bracket-content-frame.bracket-frame-border.green_bg
          .rounded-24.content-holder
            ul
              li.principle-h.lblue
                h2 Voluntary and Open Membership
                p.principle-p Co-operatives are voluntary organisations, open to all persons able to use their services and willing to accept the responsibilities of membership, without gender, social, racial, political or religious discrimination.
              
              li.principle-h.lgreen.center
                h2 Democratic Member Control
                p.principle-p Co-operatives are democratic organisations controlled by their members, who actively participate in setting their policies and making decisions. Men and women serving as elected representatives are accountable to the membership. In primary co-operatives members have equal voting rights (one member, one vote) and co-operatives at other levels are also organised in a democratic manner.

              li.principle-h.red.center 
                h2 Member Economic Participation
                p.principle-p Members contribute equitably to, and democratically control, the capital of their co-operative. At least part of that capital is usually the common property of the co-operative. Members usually receive limited compensation, if any, on capital subscribed as a condition of membership. Members allocate surpluses for any or all of the following purposes: developing their co-operative, possibly by setting up reserves, part of which at least would be indivisible; benefiting members in proportion to their transactions with the co-operative; and supporting other activities approved by the membership.

              li.principle-h.blue.center 
                h2 Autonomy and Independence
                p.principle-p Co-operatives are autonomous, self-help organisations controlled by their members. If they enter into agreements with other organisations, including governments, or raise capital from external sources, they do so on terms that ensure democratic control by their members and maintain their co-operative autonomy.

              li.principle-h.green 
                h2 Education, Training and Information
                p.principle-p Co-operatives provide education and training for their members, elected representatives, managers, and employees so they can contribute effectively to the development of their co-operatives. They inform the general public - particularly young people and opinion leaders - about the nature and benefits of co-operation.

              li.principle-h.orange 
                h2 Co-operation among Co-operatives
                p.principle-p Co-operatives serve their members most effectively and strengthen the co-operative movement by working together through local, national, regional and international structures.

              li.principle-h.purple 
                h2 Concern for Community
                p.principle-p Co-operatives work for the sustainable development of their communities through policies approved by their members.

append stylesheets
  link(rel='stylesheet', href='/stylesheets/values.css')

