.member-photo {
  max-width: 99%;
  height: auto;
  border: 1px solid;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border-color: transparent;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  display: block;
}

.member-content {
  padding: 0% 10%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
}
