.clear {
  clear: both;
}

input.button {
  border: none !important;
}

.button {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 42px;
  font-family: 'Helvetica', Arial, sans-serif;
  width: auto;
  white-space: nowrap;
  height: 42px;
  margin: 12px 5px 12px 0;
  padding: 0 22px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: 0;
  border-radius: 3px;
  vertical-align: top;
  background-color: #0492B3 !important;
  color: #ffffff !important;
}
/*
.mergeRow {
  padding: 0 0 6px 0;
  clear: both;
}  
*/

.field-group {
  position: relative;
  margin: 3px 0 12px 0;
  overflow: hidden;
  background: transparent !important;
}

label {
  line-height: 150%;
  font-family: Helvetica;
  font-size: 16px;
  color: #04945D;
  display: block;
  width: auto;
  margin-top: 8px;
  font-weight: bold;
}

input {
  display: block;
  margin: 0;
  padding: 10px;
  background: #fff;
  width: 100%;
  border: 2px solid #d0d0d0 !important;
  border-radius: 3px;
  -webkit-appearance: none;
}

.asterix {
  color: #cc6600;
  font-size: 20px;
  visibility: visible;
}

.field-group {
  position: relative;
  margin: 3px 0 12px 0;
  overflow: hidden;
  background: transparent !important;
}

.hidden-from-view {
  left: -5000px;
  position: absolute;
}
