.navbar-default {
	background-color: #fffb19;
}

.white_bg {
  background-color: white;
}

.lblue {
  color: #0492b3;
}

.lblue_bg {
  background-color: #0492b3;
}

.lgreen {
  color: #85bd04;
}

.red {
  color: #eb2700;
}

.red_bg {
  background-color: #eb2700;
}

.blue {
  color: #465dc7;
}

.green {
  color: #04945d;
}

.green_bg {
  background-color: #04945d;
}

.orange {
  color: #ff8205;
}

.orange_bg {
  background-color: #ff8205;
}


.purple {
  color: #8c0b54;
}

.rounded-6 {
  border-radius: 6px;
}

.rounded-12 {
  border-radius: 12px;
}

.rounded-48 {
  border-radius: 48px;
}

.rounded-20 {
  border-radius: 20px;
}

.rounded-24 {
  border-radius: 24px;
}

#nav-container {
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-label {
  font-size: 1.5em;	
}
.content-body {
  margin-top: 50px;
}

/* GENERAL STYLES FOR HEADINGS AND LISTS */

.page-header {
  text-align: center;
  border-bottom-color: #ccc;
}

.hat-content-frame {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 5% 0%;
}

.hat-frame-border {
  padding-left: 2px;
  padding-right: 2px;
}

.bracket-content-frame {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 5%;
}

.bracket-frame-border {
  padding-top: 2px;
  padding-bottom: 2px;
}

.content-holder {
  background-color: white;
  padding: 1% 10%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}
