doctype html
html(lang="en")
  head
    include _partial/head
  body
    header#page-header
      block header

    section#content
      block content

    footer#page-footer
      include _partial/footer
