nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
  .container-fluid#nav-container
    .navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.navbar-label(href='/pages/home.html')
        span.lblue 
          h3.brand e
        span.lgreen 
          h3.brand t
        span.red 
          h3.brand h
        span.blue 
          h3.brand i
        span.green 
          h3.brand c
        span.orange 
          h3.brand a
        span.purple 
          h3.brand l
        span.lblue 
          h3.brand Bay
    
    .navbar-collapse.collapse#nav-collapse-1
      ul.nav.navbar-nav.navbar-right
        li
          a(href="/pages/sign-up_form.html")
            span.lblue
              h3.navbar-label Join
        li
          a(href="/pages/about.html")
            span.lblue
              h3.navbar-label About
        li
          a(href="/blog/index.html")
            span.lblue
              h3.navbar-label Blog
        li
          a(href="/pages/values.html")
            span.lblue 
              h3.navbar-label Values
        li
          a(href="/pages/links.html")
            span.lblue
              h3.navbar-label Links
