<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ethicalbay, an online marketplace for ethical producers and consumers.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Presentation and sign up for an online cooperative, ethical market place.">
    <meta name="keywords" content="ethicalbay,ethical,market,cooperative,producers,consumers,marketplace,values,trade,sustainable,partnership">
    <meta name="author" content="Jack Thorp">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/png" href="/images/ethicalbay_favicon.png">
    <!-- My global style sheet-->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/js/ga.js"></script>
  </head>
  <body>
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
      <div id="nav-container" class="container-fluid">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/pages/home.html" class="navbar-brand navbar-label"><span class="lblue">e</span><span class="lgreen">t</span><span class="red">h</span><span class="blue">i</span><span class="green">c</span><span class="orange">a</span><span class="purple">l</span><span class="lblue">Bay</span></a>
        </div>
        <div id="nav-collapse-1" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/pages/sign-up_form.html" class="navbar-label"><span class="lblue">Join</span></a></li>
            <li><a href="/pages/about.html" class="navbar-label"><span class="lblue">About</span></a></li>
            <li><a href="/blog/index.html" class="navbar-label"><span class="lblue">Blog</span></a></li>
            <li><a href="/pages/values.html" class="navbar-label"><span class="lblue">Values</span></a></li>
            <li><a href="/pages/links.html" class="navbar-label"><span class="lblue">Links</span></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>